<footer >


<div class="container-fluid" style="padding: 10px 0px; box-shadow: 0 0 5px rgb(165, 165, 165);">

    <p style = "padding:10px 0px; margin:auto; font-size:12px">developed by - <a  target="_blank" href="https://abhinav-barve.herokuapp.com">Abhinav Barve</a></p>    
    <div class="contact">
        <a class="footer-link" href="mailto:abhianv.barve2001@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
        <a class="footer-link" href="https://www.linkedin.com/in/abhinav-barve-2001/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a class="footer-link" href="https://github.com/abhinavbarve"><i class="fab fa-github fa-2x"></i></a> 
    </div>

</div>

</footer>
</body>
<script src="/javascripts/frontend.js"></script>
</html> 

