
    <body>
        <div id="navbar" class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">Pollster</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <%if(!login){%>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        <%}%>
                        <li class="nav-item">
                            <a class="nav-link" href="/polls"><img src="https://img.icons8.com/flat_round/32/000000/hand.png"/>Vote</a>
                        </li>
                        <%if(login){%>
                            <li class="nav-item dropdown account-nav">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="false" aria-expanded="false">
                                    <img style="border-radius: 100%; height: 32px; width: 32px" src=<%=acc_pic%> /><a class="nav-link" href=""><%=acc_name.split(" ")[0]%></a>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/newpoll"><img src="https://img.icons8.com/plasticine/32/000000/new.png"/> New Poll</a>
                                    <a class="dropdown-item" href="/mypolls"><img src="https://img.icons8.com/office/30/000000/poll-topic.png"/> My Polls</a>
                                    <a class="dropdown-item" href="/logout"><img src="https://img.icons8.com/windows/32/000000/logout-rounded-down.png"/> Logout</a>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input id="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
            </nav>
        </div>