<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>

<section id="home" class="container-fluid">

    <div class="landing-page">

        <div class="poll-example">
            <button class="poll-btn btn btn-outline-secondary btn-block">
                CONDUCT A POLL
            </button>
            <button class="poll-btn btn btn-outline-secondary btn-block">
                PARTICIPATE
            </button>
        </div>
        <div class="cond-vote-btn">
            <div class="sign-in-buttons">
                <a href="/auth/google" style="text-decoration: none; color:white" role="button" >
                    <div class="card mb-3" style="max-width: 400px; border-radius:2px; background: #4885ed; margin:auto;padding:10px 0px;">
                        <div class="row no-gutters"> 
                            <div class="col-md-2">
                                <img height="30" width="30" style="background: white; border-radius: 100%" src="https://img.icons8.com/color/96/000000/google-logo.png" />
                            </div>
                            <div class="col-md-10" style="padding:0px;">
                                <h5 class="card-title" style="margin:0; font-size:1.5rem;">Continue with Google</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- <a href="/auth/facebook" style="text-decoration: none; color:white">
                    <div class="card mb-3" style="max-width: 400px; border-radius:2px; background: #3b5998 ; margin:auto;padding:10px 0px; ">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img height="30" width="30" src="https://img.icons8.com/color/96/000000/facebook-new.png" />
                            </div>
                            <div class="col-md-10" style="padding:0px;">
                                <h5 class="card-title" style="margin:0; font-size:1.5rem">Sign in with Facebook</h5>
                            </div>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
    </div>

</section>

<%-include('partials/footer.ejs')%>
