<%-include('partials/header.ejs')%>

<section id="home" class="container-fluid">

    <div class="landing-page">

        <div class="poll-example">

            <h1 class="big-question">Lorem-Ipsum?</h1>

            <div class="options">
                <div class="option">
                    <h5 class="option-name">
                        Yes
                    </h5>
                    <h2 class="result">
                        59<small>%</small>
                    </h2>
                </div>
                <div class="option">
                    <h5 class="option-name">
                        No
                    </h5>
                    <h2 class="result">
                        21<small>%</small>
                    </h2>
                </div>
                <div class="option">
                    <h5 class="option-name">
                        Not Sure
                    </h5>
                    <h2 class="result">
                        10<small>%</small>
                    </h2>
                </div>
                <div class="option">
                    <h5 class="option-name">
                        In Future
                    </h5>
                    <h2 class="result">
                        10<small>%</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="cond-vote-btn">
            <button class="poll-btn btn btn-dark btn-lg">
                CONDUCT A POLL
            </button>
            <button class="poll-btn btn btn-dark btn-lg">
                PARTICIPATE
            </button>
        </div>
    </div>

</section>

<%-include('partials/footer.ejs')%>
