body{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background: #f3fdf9;
} 

.btn:focus, input:focus, a:hover{
  box-shadow: none;
  text-decoration: none;
  color: #ff4b5c
}

#navbar{
  box-shadow: 0 0 5px #bdbdbd;
}
nav{
  height: 10vh;
  width: 90%;
  margin:auto;
}

.navbar-brand{
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
  font-size: 2rem;
  color: #ff4b5c !important;
}
.navbar-brand:hover{
  color: #ff4b5c;
}

.nav-item{
  padding: 0px 10px;
}

.nav-link{
  font-size: 1.2rem;
  color : black;
}
.nav-link:hover{
  text-decoration: none;
  transform: scale(1.01); 
}
.sign-in{
  background-color: #ff4b5c;
  padding: 0px;
  border-radius: 2px;
}
.sign-in:hover{
  color: #ff4b5c !important;
  background-color:black;
  transform: scale(1.02); 
}

.account-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-icon{
  color: black;
}

#login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh
}
/* ------------------------------------ */

/* poll-example */
.landing-page{
  height: 90vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  padding: 50px 0px;
}

.poll-example{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 50%;
  border-radius: 5px;
}
.big-question{
  margin: 25px 0px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 5px #bdbdbd;
  padding: 20px 5px;
}
.option{
  width:25%;
}
.option-name{
  width: 80%;
  margin: auto;
  padding: 5px 0px;
  border-radius: 2px;
  background-color: #ff4b5c;
  color: black;
  font-size: 1rem;
}
.result{
  width: 80%;
  margin: auto;
  padding: 5px 0px;
  color: black;
  font-size: 2rem;
}

.cond-vote-btn{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.poll-btn{
  margin: 10px 0px 0px;
  width: 80%;
}
.poll-btn:hover{
  background-color: #ff4b5c;
}

.sign-in-buttons{
  padding:10px 0px;
  font-family: 'Roboto', sans-serif;
}

/* ------------------------------- */

#poll-page{
  padding: 50px 0px;
}

#poll-list{
  margin:auto;
  padding: 50px 0px;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
}
.big-heading{
  font-family: 'Architects Daughter', cursive;
  font-size: 3rem;
  padding: 10px 0px;
}

.list{
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
}
.ques-btn.btn-block{
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-radius: 0px;
  border-style: solid ;
  border-color: rgb(230, 230, 230);
  border-width: 0.5px;
  transition: background-color 0.0s; 
}
.ques-btn.btn-block:hover{
  background-color: rgb(245, 245, 245)
}

/* ----------------------------- */

#new-poll-page{
  padding: 50px 0px;
}

.make-new-poll{
  width: 80%;
  margin: auto;
  text-align: left;
}

.options-input{
  margin: 10px 0px;
}




.footer-link{
    color: black;
    padding:5px 10px
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#pollPage-poll{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 50px 0px;  
}
.poll-options{
  display: inline-block;
  text-align: left;
  white-space: pre-wrap;
}