body{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background: #f3fdf9;
} 

.btn:focus, input:focus, a:hover{
  box-shadow: none;
  text-decoration: none;
}

#navbar{
  box-shadow: 0 0 5px #bdbdbd;
}
nav{
  height: 10vh;
  width: 90%;
  margin:auto;
}

.navbar-brand{
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
  font-size: 2rem;
  color: #ff4b5c !important;
}
.navbar-brand:hover{
  color: #ff4b5c;
}

.nav-item{
  padding: 0px 10px;
}

.nav-link{
  font-size: 1.2rem;
  color : black;
}
.nav-link:hover{
  text-decoration: none;
  transform: scale(1.01); 
}
.sign-in{
  background-color: #ff4b5c;
  padding: 0px;
  border-radius: 2px;
}
.sign-in:hover{
  color: #ff4b5c !important;
  background-color:black;
  transform: scale(1.02); 
}

.account-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-icon{
  color: black;
}

#login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh
}
/* ------------------------------------ */

/* poll-example */
.landing-page{
  height: 90vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  padding: 50px 0px;
}

.home-btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 50%;
  border-radius: 5px;
}

.cond-vote-btn{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.home-btn{
  margin: 10px 0px 0px;
  width: 80%;
}
.home-btn:hover, #home button:hover{
  color: #fff;
  background: #ff4b5c;
}


.sign-in-buttons{
  padding:10px 0px;
  font-family: 'Roboto', sans-serif;
}
.login-btn{
    width: 300px; 
}    

/* ------------------------------- */

#poll-page{
  padding: 50px 0px;
}

#poll-list{
  margin:auto;
  padding: 50px 0px;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
}
.big-heading{
  font-family: 'Architects Daughter', cursive;
  font-size: 3rem;
  padding: 10px 0px;
}

.list{
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
}
.ques-btn.btn-block{
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-radius: 0px;
  border-style: solid ;
  border-color: rgb(230, 230, 230);
  border-width: 0.5px;
  transition: background-color 0.0s; 
}
.ques-btn.btn-block:hover{
  background-color: rgb(245, 245, 245)
}

/* ----------------------------- */

#new-poll-page{
  padding: 50px 0px;
}

.make-new-poll{
  width: 80%;
  margin: auto;
  text-align: left;
}

.options-input{
  margin: 10px 0px;
}


.footer-link{
    color: black;
    padding:5px 10px
}


/* poll-page */

#poll-container, #poll-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

#poll-container{
  padding: 10vh 0px;
  flex-direction: column;
}

#poll-box{
  width: 80%;
  margin: auto;
  padding:2vh 5vw;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(201, 201, 201);
  border-radius: 10px ;
}

.poll-form{
  width: 40%;
  margin: auto
}

.poll-form select{
  width: 50%; 
}

#poll-page-opt  {
  margin: 10px 0px;
  width:100%;
  border-color: #555 ;
  border-width: 2px;
  border-radius: 2px;
  padding: 5px;
  outline: none;
}

#poll-box button{
  margin: 10px auto;
  border-width: 2px;
  border-radius: 2px;
}

#poll-box button[type="submit"]:hover{
  background: #ff4b5c;
  color: #fff;
  border-color: #ff0019;
}

option:hover{background-color:yellow;}

.poll-result{
  width: 40%;
  margin:auto;
  background-color: rgb(255, 255, 255) ;
  border-radius: 10px;
}


@media screen and (max-width: 1200px){
  .cond-vote-btn{
    display: none;
  }
  .home-btns{
    width: 90%;
  }
  .landing-page{
    height: 85vh;
  }
  #poll-list{
    width: 90%;
  }
  .list{
    width: 95%
  }
}

@media screen and (max-width: 800px){
  .big-heading{
    font-size: 2rem;
    font-weight: bolder;
  }
}














/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}